.container {
  max-width: 600px;
}

.todo-item {
  display: table;
  margin-top: 10px;
  width: 100%;
}

.todo-checkbox {
  display: table-cell;
  height: 24px;
  vertical-align: middle;
  width: 24px;
}

.todo-text {
  display: table-cell;
  font-size: 18px;
  padding-left: 10px;
  vertical-align: bottom;
  width: 99%;
}

.glyphicon-remove {
  color: gray;
  display: table-cell;
  font-size: 22px;
  vertical-align: bottom;
  width: 1%;
}

.complete {
  color: gray;
  text-decoration: line-through;
}
